
.prestation, .facturation{
    margin: 2em 0;
    
}

.hidden{
    display: none;
}

.active{
    display: block;
}

.labelSelect{
    font-weight: 900;
}

.selectContainer{
    display: flex;
    flex-wrap: wrap;
    margin-left: 0.5em 
   
}



.checkbox{
    padding-bottom: 1em;
}