
.prestation, .facturation{
    margin: 2em 0;
    
}

.hidden{
    display: none;
}

.active{
    display: block;
}

.labelSelect{
    font-weight: 900;
}

.selectContainer{
   display: flex;
   flex-direction: column;
   width: 15em;

   
}

.checkbox{
    padding-bottom: 1em;
}