
.prestation, .facturation{
    margin: 2em 0
}

.hidden{
    display: none;
}

.active{
    display: block;
}

.labelSelect{
    font-weight: 900;
}

.selectContainer{
   display: flex;
   flex-direction: column;
   margin-right: 125em;

   @media screen and (max-width: 768px){
    margin-right: 35em;
   }

}

.checkbox{
    padding-bottom: 1em;
}