
.arrayContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    
   

    h1{
        padding-top: 1em;
    }
}

.textContainer{
    background-color: RGB(244, 244, 244);
    font-size: 1.5em;
    padding: 4em;
    margin: 2em 0;
    text-align: center;
}

.formContainer{

    h2{
       margin-left: 5.8em; 
       @media screen and (max-width: 1000px){
        margin-left: 2.8em;
      }
    }

   margin: 0 10em;

   @media screen and (max-width: 1000px){
     margin: 0 5em;
   }
   
   
}

