.navbar{
    min-width: max-content;
    padding: 1em 0em;
    background-color: RGB(26, 148, 243);
    
    .navlink{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content:center ;
        gap: 4em;

        width: 100%;

        .link{
            padding: 1em;
            color: white;
            font-size: 1.2em;
        }

        .link:hover{
            background-color: RGB(26, 87, 219);
        }

        img{
            height: 8em;        
        }
    }


    
}
